apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  labels:
    app: spark-worker
    role: worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spark
  template:
    metadata:
      labels:
        app: redis
        role: follower
    spec:
      containers:
      - name: spark-worker
        image: cap1462_16/spark-worker:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: "500m"
            memory: "256Mi"
        ports:
        - containerPort: 8081