apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  labels:
    app: spark
    role: worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spark
      role: worker
  template:
    metadata:
      labels:
        app: spark
        role: worker
    spec:
      containers:
        - name: spark-worker
          image: dperdices/spark-worker:latest
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: "500m"
              memory: "256Mi"
          ports:
            - containerPort: 8081
